.blue {
  color: #3d9cb2;
}

.brown {
  color: #42282F;
}

.tan {
  color: #D6CCAD;
}

.orange {
  color: #DC9C76;
}

.red {
  color: #D6655A;
}

.blue-b {
  background-color: #3d9cb2;
}

.brown-b {
  background-color: #42282F;
}

.tan-b {
  background-color: #D6CCAD;
}

.orange-b {
  background-color: #DC9C76;
}

.red-b {
  background-color: #D6655A;
}

.op50 {
  opacity: 50%;
}

.light-tan-b {
  background-color: #FFFFFA;
}

.light-blue-b {
  background-color: #c7dad8;
}

.light-red-b {
  background-color: #FFB2A7;
}