.cp {
  cursor: pointer;
}

.ml10 {
  margin-left: 10px;
}

.fb {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcsa {
  justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
}

.fs46 {
  font-size: 46px;
}

.fs10 {
  font-size: 10px;
}