/* Reset / Override */
*:focus {
    outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #7c8086;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #7c8086;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #7c8086;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 0 0 200px;
    position: relative;
}

.App {
  text-align: center;
}

.social-svg-mask:hover {
    fill: #FFB2A7 !important;
}
